@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Montserrat:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap'); */

:root {
  --font-sans-jp: "Zen Maru Gothic", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Yu Gothic",
    "Meiryo", sans-serif;
  --font-sans-en: "Noto Sans JP", var(--font-sans-jp);
}

html,
body {
  font-family: var(--font-sans-jp);
}

.font-jp {
  font-family: var(--font-sans-jp);
}

.font-en {
  font-family: var(--font-sans-en);
}